@font-face {
	font-family: tobec;
	src: url(fonts/Tobec.ttf);
}

@font-face {
		font-family: skater;
	src: url(fonts/skaterdudes.ttf);
}

.h1 {
	font-family: tobec;
}

.h3,.h4, button {
	font-family: skater;
}

h4 {
	font-family: 'Indie Flower', cursive;
	font-size: 12;
}

.page-header {
	margin:0;
}

#mode-selector {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

#artist-name, #song-name {
	transition: 1s ease-in-out;
}

#images {
	padding: 2em;
	border-bottom: 50px;
}

#game-stats {
	padding: 2em;
}

.list-inline li h1 {
	border-bottom: solid;
	transition: 1s ease-in-out;
}

#artist-img {
	width: 100%;
	transition: 1s ease-in-out;
}

#main-content {
	position: relative;
	z-index: 0;
}

#game-over {
	position: absolute;
	z-index: 1;
	top:25%;
	left: 35%;
}	

#game-over h1 {
	font-size: 6em;
	color: red;
}

.fade {
	opacity:0;
	/*transition: 1s ease-in-out;*/
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
}